h1, h2, h3, p, div, button, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 0.8rem;
}

h3 {
  font-size: 0.6rem;
}

@media only screen and (min-width: 1081px) and (min-height: 1000px) {
  .App {
    font-size: 20px
  }

  .sentencesInnerContainer {
    width: 950;
  }

  #canvas {
    width: 950px;
    height: 950px;
  }

  .settingsMenu {
    max-width: 700px;
    max-height: 900px;
  }
}

@media only screen and (max-width: 1080px) and (min-height: 900px) {
  .App {
    font-size: 18px
  }

  .sentencesInnerContainer {
    width: 800px;
  }

  #canvas {
    width: 800px;
    height: 800px;
  }

  .settingsMenu {
    max-width: 650px;
    max-height: 800px;
  }
}

  @media only screen and (max-width: 1000px) and (min-height: 800px) {
    .App {
      font-size: 16px
    }

    .sentencesInnerContainer {
      width: 650px;
    }
    
    #canvas {
      width: 650px;
      height: 650px;
    }

    .settingsMenu {
      max-width: 500px;
      max-height: 650px;
    }
  }

  @media only screen and (max-width: 800px) and (min-height: 700px) {
    .App {
      font-size: 14px
    }

    .sentencesInnerContainer {
      width: 500px;
    }

    #canvas {
      width: 500px;
      height: 500px;
    }

    .settingsMenu {
      max-width: 350px;
      max-height: 500px;
    }
  }

  @media only screen and (min-width: 800px) {
    .App {
      font-size: 14px
    }

    .sentencesInnerContainer {
      width: 500px;
    }

    #canvas {
      width: 500px;
      height: 500px;
    }

    .settingsMenu {
      max-width: 350px;
      max-height: 400px;
    }
  }

  @media only screen and (max-width: 600px) and (min-height: 600px) {
    .App {
      font-size: 12px
    }

    .sentencesInnerContainer {
      width: 350px;
    }

    #canvas {
      width: 350px;
      height: 350px;
    }

    .settingsMenu {
      max-width: 200px;
      max-height: 350px;
    }
  }

  @media only screen and (max-width: 320px) and (min-height: 500px) {
    .App {
      font-size: 10px
    }

    .sentencesInnerContainer {
      width: 300px;
    }

    #canvas {
      width: 300px;
      height: 300px;
    }

    .settingsMenu {
      max-width: 150px;
      max-height: 300px;
    }
  }

.App {
  width: 100vw;
  height: 100vh;
  background-color: #1e2329;
  color: #c4b1ab;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas {
  margin: 10px;
  border-radius: 4px;
  border: 1px solid magenta;
}

.blurDivOne, .blurDivTwo {
  width: 98vw;
  height: 98vh;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settingsMenu {
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blueviolet;
  color: #c4b1ab;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 10%;
  right: 0;
  z-index: 1;
}

.txtdiv {
  text-align: center;
}

.sentencesContainer {
  width: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.sentencesInnerContainer {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
}

.sentences {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  white-space: nowrap;
}

.translations {
  animation: scroll-left 20s linear infinite;
  overflow: hidden;
  white-space: nowrap;  
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.languageSelections {
  display: flex;
  flex-direction: column;
}

.settingsMenu, .languageSelectionsFrom, .languageSelectionsTo {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-anchor: none;
  white-space: nowrap;
}

.translations::-webkit-scrollbar {
  width: 0;
  display: none;
}

.sentences::-webkit-scrollbar {
  width: 0;
  display: none;
}

.settingsMenu::-webkit-scrollbar {
  width: 0;
  display: none;
}
.languageSelectionsFrom::-webkit-scrollbar {
  width: 0;
  display: none;
}
.languageSelectionsTo::-webkit-scrollbar {
  width: 0;
  display: none;
}

.startButton, .clearButton, .doneButton, .switchButton {
  cursor:pointer;
  width: 40%;
  margin: 10px;
  border-radius: 4px;
  border: none;
  padding: 5px 20px;
  color: white;
  background-color: magenta;
}

.settingsButton {
  cursor:pointer;
  margin: 8px;
  border: none;
  background-color: transparent;
  z-index: 5;
}

.backButton, .nextButton {
  cursor:pointer;
  margin: 0 10px;
  border: none;
  background-color: transparent;
  color: black;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #C4B1AB;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
